<h1>Conflict Form</h1>

<form action="/societies/<%= @society.name + "_" + @society.id.to_s %>/conflicts" method="POST">
  <label>First Group Involved in the Conflict</label>
  <select name="conflict[:group_1_id]">
    <% @society.social_groups.each do |social_group| %>
      <option value="social_group.id"><%= social_group.name %></option>
    <% end %>
  </select>
  <label>Second Group Involved in the Conflict</label>
  <select name="conflict[:group_2_id]">
    <% @society.social_groups.each do |social_group| %>
      <option value="social_group.id"><%= social_group.name %></option>
    <% end %>
  </select>
  <br>
  <label>Description of Conflict</label>
  <textarea name="conflict[:description]"><%= @conflict.description %></textarea>
  <br>
  <input type="submit" value="submit">
</form>
