<strong>This will permanently delete <%= @society.name %>. Only continue if you are sure you want to do so.</strong>
<form action="/societies/<%= get_slug(@society) %>/destroy" method="POST">
  <input type="submit" value="Delete">
</form>
