<h1>Societies</h1>

<% Society.all.each do |society| %>
  <p>
  <a href="/societies/<%= society.name + "_" + society.id.to_s %>"><%= society.name %></a><br>
    <small>by <a href="/users/<%= society.user.id %>"><%= society.user.username %></a></small>
  </p>
<% end %>
