<h1>Destroy</h1>
<h3><%= @social_group.name %></h3>

<form action="/societies/<%= get_slug(@society) %>/social_groups/<%= @social_group.id %>/destroy" method="POST">
  <label><strong>This will destroy this social group. This is not reversable</strong></label>
  <input type="submit" value="submit">
</form>
