<h1>User Form</h1>

<form action="/users" method="POST">
  <label>Username</label><br>
  <input type="text" name="user[username]">
  <label>Password</label><br>
  <input type="password" name="user[password_digest]">
  <input type="submit" value="submit">
</form>
