<h1><%= @user.username %></h1>
<% if @user.societies.empty? %>
  <p>You have no societies.</p>
<% else %>
  <% @user.societies.each do |society| %>
    <a href="/societies/<%= society.name + "_" + society.id.to_s %>"><%= society.name %></a><br><br>
  <% end %>
<% end %>
<a href="/societies/new"><button>Create a New Society</button></a>
