<!DOCTYPE html>
<html>
  <head> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skeleton.min.css">
    <title><%= session.delete(:page_title) || "GINWIK" %></title>
  </head>

  <body>
    <div class="container"> 
      <% if session[:message] %>
	<small><%= session.delete(:message) %></small><br><br>
      <% end %>
      <div class="u-pull-right u-cf">
      <% unless session.delete(:home_page) %>
	<a href="/societies"><button>Home</button></a>
      <% end %>
      <% if is_logged_in?(session) %>
	<% unless @user %>
	  <a href="/users/<%= current_user(session).id %>"><button>My Profile</button></a>
	<% end %>
	<a href="/logout"><button>Logout</button></a>
      <% else %>
	<a href="/login"><button>Login</button></a>
	<a href="/users/new"><button>Signup</button></a>
      <% end %>
      </div> 
      <%= yield %>
    </div>
  </body>
</html>
